{% extends "main.html" %}
{% load static %}

{% block main %}
        <div class="container">
                <ul class="filter-list">
                    <li class="filter-item">
                        <a href="http://127.0.0.1:8000/Stream" class="gray">
                            Стримы
                        </a>
                    </li>
                    <li class="filter-item">
                        <a href="http://127.0.0.1:8000/Users" class="gray">
                            Пользователи
                        </a>
                    </li>
                    <li class="filter-item">
                        <a href="http://127.0.0.1:8000/Donations" class="gray">
                            Донаты
                        </a>
                    </li>
                </ul>
            <a href="http://127.0.0.1:8000/Stream">
                <div class="main-list">
                    <div class="stream">
                        <img class="logo" src="{% static 'images-maz/image (2).png' %}" alt="stream">
                        <h2 class="name">ЛЕЪХЕНДА СНОВА НА ТРОНЕ | !PARI !TG</h2>
                    </div>
                    <p class="info">
                        Пользователь: {} <br>
                        Категория: {} <br>
                        ремя начала стрима: {} <br>
                    </p>
                </div>
            </a>
        </div>
{% endblock %}