{% extends "main.html" %}
{% load static %}

{% block main %}
        <div class="container">
                <ul class="filter-list">
                    <li class="filter-item">
                        <a href="http://127.0.0.1:8000/Stream">
                            Стримы
                        </a>
                    </li>
                    <li class="filter-item">
                        <a href="#">
                            Пользователи
                        </a>
                    </li>
                    <li class="filter-item">
                        <a href="http://127.0.0.1:8000/Donations">
                            Донаты
                        </a>
                    </li>
                    <li class="filter-item">
                        <a href="#">
                            Уровни
                        </a>
                    </li>
                </ul>
            <a href="">
                <div class="main-list">
                    <div class="stream">
                        <img class="logo" src="{% static 'images-maz/image (2).png' %}" alt="stream">
                        <h2 class="name">ЛЕЪХЕНДА СНОВА НА ТРОНЕ | !PARI !TG</h2>
                    </div>
                    <p class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellat! 
                    </p>
                </div>
            </a>
        </div>
{% endblock %}