{% extends "main.html" %}
{% load static %}

{% block main %}
        <div class="container">
            <section class="catalog">
                <ul class="filter-list">
                    <li class="filter-item">
                        <a class="link-filter" href="http://127.0.0.1:8000/Stream">
                            Стримы
                        </a>
                    </li>
                    <li class="filter-item">
                        <a class="link-filter active" href="http://127.0.0.1:8000/Users">
                            Пользователи
                        </a>
                    </li>
                    <li class="filter-item">
                        <a class="link-filter" href="http://127.0.0.1:8000/Donations">
                            Донаты
                        </a>
                    </li>
                </ul>
            </section>
            <section class="users">
                <div class="useres-list">
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                    <div class="user-item">
                        <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="avatarka" class="user-avatar">
                        <a href="http://127.0.0.1:8000/Info" class="nivkname-link"><h3 class="nickname">DANGERLOYHA</h3></a>
                        <p class="count-subjects">123,431,841</p>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}