{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container">
    <section class="catalog">
        <ul class="filter-list">
            <li class="filter-item">
                <a class="link-filter" href="{% url 'page2' %}">
                    Стримы
                </a>
            </li>
            <li class="filter-item">
                <a class="link-filter active" href="{% url 'page4' %}">
                    Пользователи
                </a>
            </li>
            <li class="filter-item">
                <a class="link-filter" href="{% url 'page3' %}">
                    Донаты
                </a>
            </li>
        </ul>
        <ul class="filtrii">
            <li class="filtrii-item"><a href="" class="filtrii-link">По дате</a></li>
            <li class="filtrii-item"><a href="" class="filtrii-link">По никнейму</a></li>
        </ul>
    </section>
    
    <section class="users">
        <div class="useres-list">
            {% for user in users %}
            <div class="user-item">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="аватарка" class="user-avatar">
                {% else %}
                <img src="{% static 'images-maz/avatarkf-lyohi.png' %}" alt="аватарка" class="user-avatar">
                {% endif %}
                <a href="{% url 'page5' %}" class="nivkname-link">
                    <h3 class="nickname">{{ user.nickname }}</h3>
                </a>
                <p class="count-subjects">{{ user.registration_date }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}