{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylees.css' %}">
    <title>Wstream</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="menu">
                <a href="http://127.0.0.1:8000" class="linklogo">
                    <h1 class="title">
                        <span>W</span>stream
                    </h1>
                </a>
                <form class="seacrh-all" action="/search" method="get">  
                    <input class="search-logo" type="text" name="query" placeholder="Поиск">  
                </form>
                <a href="http://127.0.0.1:8000/admin" class="user">
                    <img src="{% static 'images-maz/Group 3.png' %}" alt="user">
                </a>
            </nav>
        </div>
    </header>
    <main class="main">
        {% block    main %}
        {% endblock %}
    </main>
    <footer class="footer">
            <div class="container">
                <div class="left">
                    <p class="text">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="right">
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur</p>
                </div>
            </div>
    </footer>
    <!-- <script>
const simpleTrail = document.createElement('div');
simpleTrail.className = 'simple-trail';
document.body.appendChild(simpleTrail);

simpleTrail.style.opacity = '1';

document.addEventListener('mousemove', (e) => {
    simpleTrail.style.left = (e.clientX - 4) + 'px';
    simpleTrail.style.top = (e.clientY - 4) + 'px';
});

document.addEventListener('mouseleave', () => {
    simpleTrail.style.opacity = '0';
});

document.addEventListener('mouseenter', () => {
    simpleTrail.style.opacity = '1';
});
    </script> -->
</body>
</html>