{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container">
    <section class="catalog">
        <ul class="filter-list">
            <li class="filter-item">
                <a class="link-filter" href="{% url 'page2' %}">
                    Стримы
                </a>
            </li>
            <li class="filter-item">
                <a class="link-filter" href="{% url 'page4' %}">
                    Пользователи
                </a>
            </li>
            <li class="filter-item">
                <a class="link-filter active" href="{% url 'page3' %}">
                    Донаты
                </a>
            </li>
        </ul>
    </section>

    <section class="donates">
        {% for donation in donations %}
        <div class="donate">
            <div class="number-name">
                <p class="recvizit">{{ donation.requisites }}</p>
                <h2 class="userss">{{ donation.id_users_from.nickname }}</h2>
                <h3 class="title-number-name">{{ donation.id_users_to.nickname }}</h3>
            </div>
            <div class="count-content">
                <p class="content-name">Содержание доната</p>
                <div class="strr">
                    <p class="contant">{{ donation.content|default:"Без сообщения" }}</p>
                </div>
                <p class="count">сумма: {{ donation.amount }}р</p>
                <p class="date">дата: {{ donation.date }}</p>
            </div>
        </div>
        {% empty %}
        <p>Донатов пока нет</p>
        {% endfor %}
    </section>
</div>
{% endblock %}