{% extends "main.html" %}
{% load static %}

{% block main %}
        <div class="container">
            <section class="catalog">
                <ul class="filter-list">
                    <li class="filter-item">
                        <a class="link-filter" href="http://127.0.0.1:8000/Stream">
                            Стримы
                        </a>
                    </li>
                    <li class="filter-item">
                        <a class="link-filter" href="#">
                            Пользователи
                        </a>
                    </li>
                    <li class="filter-item">
                        <a class="link-filter active" href="#">
                            Донаты
                        </a>
                    </li>
                    <li class="filter-item">
                        <a class="link-filter" href="#">
                            Уровни
                        </a>
                    </li>
                </ul>
            </section>
            <section class="donates">
                <div class="donate">
                    <div class="number-name">
                        <p class="recvizit">2233 1255 5415 2235</p>
                        <h2 class="userss">Shadowdemon</h2>
                        <h3 class="title-number-name">DANGERlYOHA</h3>
                    </div>
                    <div class="count-content">
                        <p class="content-name">Содержание доната</p>
                        <p class="contant">ХОРОШЕГО СТРИМА</p>
                        <p class="count">сумма: 250р</p>
                    </div>
                </div>
                <div class="donate">
                    <div class="number-name">
                        <p class="recvizit">2233 1255 5415 2235</p>
                        <h2 class="userss">Shadowdemon</h2>
                        <h3 class="title-number-name">DANGERlYOHA</h3>
                    </div>
                    <div class="count-content">
                        <p class="content-name">Содержание доната</p>
                        <p class="contant">ХОРОШЕГО СТРИМА</p>
                        <p class="count">сумма: 250р</p>
                    </div>
                </div>
                <div class="donate">
                    <div class="number-name">
                        <p class="recvizit">2233 1255 5415 2235</p>
                        <h2 class="userss">Shadowdemon</h2>
                        <h3 class="title-number-name">DANGERlYOHA</h3>
                    </div>
                    <div class="count-content">
                        <p class="content-name">Содержание доната</p>
                        <p class="contant">ХОРОШЕГО СТРИМА</p>
                        <p class="count">сумма: 250р</p>
                    </div>
                </div>
                <div class="donate">
                    <div class="number-name">
                        <p class="recvizit">2233 1255 5415 2235</p>
                        <h2 class="userss">Shadowdemon</h2>
                        <h3 class="title-number-name">DANGERlYOHA</h3>
                    </div>
                    <div class="count-content">
                        <p class="content-name">Содержание доната</p>
                        <p class="contant">ХОРОШЕГО СТРИМА</p>
                        <p class="count">сумма: 250р</p>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}