<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Wstream</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="menu">
                <a href="#" class="linklogo">
                    <h1 class="title">
                        Wstream
                    </h1>
                </a>
                <form class="seacrh-all" action="/search" method="get">
                    <input class="search-logo" type="text" name="query" placeholder="Поиск">
                </form>
                <a href="#" class="user">
                    <img src="images/Group 3.png" alt="user">
                </a>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <ul class="filter-list">
                <li class="filter-item">
                    <a class="link-filter active" href="#">
                        Стримы
                    </a>
                </li>
                <li class="filter-item">
                    <a class="link-filter" href="#">
                        Подписки
                    </a>
                </li>
                <li class="filter-item">
                    <a class="link-filter" href="#">
                        Донаты
                    </a>
                </li>
                <li class="filter-item">
                    <a class="link-filter" href="#">
                        Уровни
                    </a>
                </li>
            </ul>
            <div class="streamers">
                <div class="streamer">
                    <div class="stream-img">
                        <img src="images/image (2).png" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="images/image (2).png" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="images/image (2).png" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="images/image (2).png" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="images/image (2).png" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="images/image (2).png" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="left">
                <p class="text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="right">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur</p>
            </div>
        </div>
    </footer>
    <script>
        const simpleTrail = document.createElement('div');
        simpleTrail.className = 'simple-trail';
        document.body.appendChild(simpleTrail);

        simpleTrail.style.opacity = '1';

        document.addEventListener('mousemove', (e) => {
            simpleTrail.style.left = (e.clientX - 4) + 'px';
            simpleTrail.style.top = (e.clientY - 4) + 'px';
        });

        document.addEventListener('mouseleave', () => {
            simpleTrail.style.opacity = '0';
        });

        document.addEventListener('mouseenter', () => {
            simpleTrail.style.opacity = '1';
        });
    </script>
</body>

</html>