{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container">
    <section class="catalog">
        <ul class="filter-list">
            <li class="filter-item">
                <a class="link-filter active" href="{% url 'page2' %}">
                    Стримы
                </a>
            </li>
            <li class="filter-item">
                <a class="link-filter" href="{% url 'page4' %}">
                    Пользователи
                </a>
            </li>
            <li class="filter-item">
                <a class="link-filter" href="{% url 'page3' %}">
                    Донаты
                </a>
            </li>
        </ul>
    </section>
    
    <div class="streamers">
        {% for stream in streams %}
        <div class="streamer">
            <div class="stream-img">
                {% if stream.preview %}
                <img src="{{ stream.preview.url }}" alt="{{ stream.name }}" class="images-stream">
                {% else %}
                <img src="{% static 'images-maz/image (2).png' %}" alt="{{ stream.name }}" class="images-stream">
                {% endif %}
                <h2 class="stream-title">{{ stream.name }}</h2>
                <table class="streamer-table">
                    <thead class="head-table">      
                        <tr class="heade-name-list">
                            <th class="head-name-item">Пользователь</th>
                            <th class="head-name-item">Категория</th>
                            <th class="head-name-item">Статус</th>
                            <th class="head-name-item">Начало стрима</th>
                            <th class="head-name-item">Конец стрима</th>
                            <th class="head-name-item">Макс. зрителей</th>
                        </tr>
                    </thead>
                    <tbody class="body-table">
                        <tr class="body-table-list">
                            <td class="body-table-item">{{ stream.id_users.nickname }}</td>
                            <td class="body-table-item">{{ stream.category }}</td>
                            <td class="body-table-item">{{ stream.status }}</td>
                            <td class="body-table-item">{{ stream.start_time }}</td>
                            <td class="body-table-item">{{ stream.end_time|default:"-" }}</td>
                            <td class="body-table-item">{{ stream.max_viewers|default:"-" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}