{% extends "main.html" %}
{% load static %}

{% block main %}
        <div class="container">
            <ul class="filter-list">
                <li class="filter-item">
                    <a class="link-filter active" href="">
                        Стримы
                    </a>
                </li>
                <li class="filter-item">
                    <a class="link-filter" href="http://127.0.0.1:8000/Users">
                        Пользователи
                    </a>
                </li>
                <li class="filter-item">
                    <a class="link-filter" href="http://127.0.0.1:8000/Donations">
                        Донаты
                    </a>
                </li>
            </ul>
            <div class="streamers">
                <div class="streamer">
                    <div class="stream-img">
                        <img src="{% static 'images-maz/image (2).png' %}" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">      
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="streamer">
                    <div class="stream-img">
                        <img src="{% static 'images-maz/image (2).png' %}" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="{% static 'images-maz/image (2).png' %}" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="{% static 'images-maz/image (2).png' %}" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="{% static 'images-maz/image (2).png' %}" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="streamer">
                    <div class="stream-img">
                        <img src="{% static 'images-maz/image (2).png' %}" alt="" class="images-stream">
                        <h2 class="stream-title">ЛЕХЕНДА СНОВА ВЕРНУЛСЯ</h2>
                        <table class="streamer-table">
                            <thead class="head-table">
                                <tr class="heade-name-list">
                                    <th class="head-name-item">Пользлователь</th>
                                    <th class="head-name-item">Категории</th>
                                    <th class="head-name-item">статус</th>
                                    <th class="head-name-item">начало стрима</th>
                                    <th class="head-name-item">конец стрима</th>
                                    <th class="head-name-item">макс. зрителей</th>
                                </tr>
                            </thead>
                            <tbody class="body-table">
                                <tr class="body-table-list">
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                    <td class="body-table-item">sssss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}